@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../public/fonts/Lausanne-500.woff2);
}

body {
  background-color: #fff;
}

/* Chrome/Google Translate overlays ko block karne ke liye */
.goog-te-banner-frame,
.goog-te-balloon-frame,
.goog-text-highlight,
.goog-te-gadget,
.goog-te-combo {
  display: none !important;
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.movelink {
  opacity: 0;
  transition: all ease 0.3s;
}

.link:hover .movelink {
  opacity: 1;
}
